.container {
    width: calc(100% - 30px);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 7.5px;
    align-items: center;
}

.links .link {
    text-decoration: none;
    color: #fff;
    font-size: 1.07rem;
}

.links .link:hover {
    text-decoration: underline;
}